$primary-color: #2b5f8c;
$secondary-color: #3d85c5;
$accent-color: #ff7e2e;
$accent-color-light: #f3931b;
$px-blue-600: #224a6d;
$px-blue-800: #1a3853;
$background-main: #04090e;
$background-header: #0086f5;
$border-color: #d7d7dd;
$surface-background: #0c1c2a;
$text-color: #e9eff3;

* {
  color: $text-color;
  box-sizing: border-box;
}

body {
  background-color: $background-main;
  background-image: url("../../public/Gemini_Generated_Image_9y8cnx9y8cnx9y8c.jpeg");
  background-size: cover;
  background-position: center;
  color: $text-color;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
